@font-face {
	font-family: 'Roboto';
	src: url('font/Roboto-Black.ttf');
	font-weight: 900;
}
@font-face {
	font-family: 'Roboto';
	src: url('font/Roboto-BlackItalic.ttf');
	font-weight: 900;
	font-style: Italic;
}
@font-face {
	font-family: 'Roboto';
	src: url('font/Roboto-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: 'Roboto';
	src: url('font/Roboto-BoldItalic.ttf');
	font-weight: 700;
	font-style: Italic;
}
@font-face {
	font-family: 'Roboto';
	src: url('font/Roboto-Italic.ttf');
	font-weight: 400;
	font-style: Italic;
}
@font-face {
	font-family: 'Roboto';
	src: url('font/Roboto-Light.ttf');
	font-weight: 300;
}
@font-face {
	font-family: 'Roboto';
	src: url('font/Roboto-LightItalic.ttf');
	font-weight: 300;
	font-style: Italic;
}
@font-face {
	font-family: 'Roboto';
	src: url('font/Roboto-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: 'Roboto';
	src: url('font/Roboto-MediumItalic.ttf');
	font-weight: 500;
	font-style: Italic;
}
@font-face {
	font-family: 'Roboto';
	src: url('font/Roboto-Regular.ttf');
	font-weight: 400;
}
@font-face {
	font-family: 'Roboto';
	src: url('font/Roboto-Thin.ttf');
	font-weight: 100;
}
@font-face {
	font-family: 'Roboto';
	src: url('font/Roboto-ThinItalic.ttf');
	font-weight: 100;
	font-style: Italic;
}

body {
	font-family: 'Roboto', Arial, serif;
	padding: 0;
	margin: 0;
}

/*************************/
/*******  En tête  *******/
/*************************/

#header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 0;
	height: 110px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	z-index: 1;
}

.logo {
	height: 55px;
	margin-left: -70px;
}

.logo img {
	height: 100%;
}

/*************************/
/******  Navigation  *****/
/*************************/

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
	width: 80px;
	text-align: center;
}

nav a {
    font-size: 1em;
    color: rgb(164, 164, 164);
    text-decoration: none;
    font-weight: 400;
}

.selected_nav {
	position: absolute;
	top: 0;
	width: 80px;
	height: 4px;
	background-color: rgb(77, 156, 201);
}

/*************************/
/******  Banniere  *******/
/*************************/

section#banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	background: url("image/bg1.jpg") no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	height: 550px;
	margin-top: 110px;
	overflow-x: hidden;
}

.bleue {
	color: rgb(77, 156, 201);
}

.gris {
	color: rgb(164, 164, 164);
}

.demi_cercleg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	background-color: black;
	position: absolute;
	left: 0;
	width: 30px;
	height: 60px;
	border-radius: 0 30px 30px 0;
	opacity: 0.33;
}

.demi_cercled {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: black;
	position: absolute;
	right: 0;
	width: 30px;
	height: 60px;
	border-radius: 30px 0 0 30px;
	opacity: 0.33;
}

#arrow_r {
	margin-left: 15px;
	transform: translate(-50%);
	height: 16px;
}

#arrow_g {
	margin-right: 15px;
	transform: translate(50%);
	height: 16px;
}

.text_banner {
	margin-left: 140px;
	max-width: 550px;
	color: white;
	font-size: 1.4em;
	font-weight: 900;
}

.marge_banner {
	margin-top: 0px;
	margin-bottom: 20px;
}

p {
	font-size: 0.8em;
	font-weight: 500;
	line-height: 25px;
}

.bouton  {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	width:120px;
	height:40px;
	background: rgb(77, 156, 201);
	color:white;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	box-shadow: 0px 3px 0px rgb(55, 130, 172);
}

#info {
	text-align: center;
	justify-content: center;
	font-size: 0.8em;
	color: white;
	text-decoration: none;
	font-weight: 400;
}

.selected_banner {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 140px;
	height: 4px;
	background-color: rgb(77, 156, 201);
}

/*************************/
/******  Service  ********/
/*************************/

section#service{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.marge_tete_section {
	margin-top: 25px;
	margin-bottom: 25px;
}

.text_section {
	text-align: center;
	max-width: 570px;
	color: black;
	font-size: 1.6em;
	font-weight: 900;
}

.trait {
	width: 100px;
	height: 1px;
	margin: auto;
	position: relative;
	background-color: rgb(164, 164, 164);
}

.point {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 3px solid white;
	background: rgb(77, 156, 201);
	position: absolute;
	right: -8px;
}

.pointc {
	left: 39px;
	bottom: -11px;
	margin-left: 0;
}

#iMac {
	margin: 50px auto 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 1000px;
}

#iMac img {
	width: 480px;
	margin-right: 20px;
}

.list_service {
	max-width: 400px;
}

#flex_list {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin-top: 60px;
}

.flex_service {
	display: flex;
	margin-bottom: 40px;}

.cercle {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid rgb(164, 164, 164);
	display: flex;
	position: relative;
	align-items: center;
}

.fa {
	color: rgb(77, 156, 201);
	margin-left: 18px;
}

.fa-pie-chart {
	margin-left: 21px;
}

.marge_titre_service {
	margin: 0 0 0 30px;
}

.marge_text_service {
	margin: 5px 0 0 30px;
}

/*************************/
/*******  Projet  ********/
/*************************/

section#projet{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(242, 242, 242);
}

.liens_projets ul {
    display: flex;
    height: 40px;    
}

.liens_projets li {
	width: 90px;
	background-color: rgb(220, 220, 220);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.liens_projets a {
    font-size: 1em;
    color: rgb(80, 85, 90);
    text-decoration: none;
    font-weight: 400;
}

.liens_borderg {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.liens_borderd {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.liens_projets li:hover, .liens_projets li.selected_projet {
	background-color: rgb(77, 156, 201);
	box-shadow: 0px 3px 0px rgb(56, 120, 156);
}

.liens_projets li.selected_projet::after {
	content: "";
	position: absolute;
	bottom: -13px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid rgb(56, 120, 156);
}

.liens_projets a {
	color: white;
}

.img_projet { 
	margin-top: 50px;
	height: 100%;
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.img_projet img {
	height: 160px;
	width: 220px;
}

.contain_img {
	position: relative;
	height: 160px;
	margin-bottom: 30px;
}

.bandeau {
	display: none;
	height: 70px;
	width: 220px;
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	left: 0;
	bottom: 0;
}

.cercle_rempli {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 3px solid white;
	background: rgb(77, 156, 201);
	margin-top: -25px;
	opacity: 1;
	display: flex;
	justify-content: center;
	align-items:center;
	position: absolute;
	right: 10px;
}

.fa.fa-eye {
	margin-left: 0;
	margin-top: 0;
	color: white;
}

.text_item {
	margin: 0 10px 10px;
	opacity: 1;
}

.text_item h6 {
	margin-top: 10px;
	margin-bottom: 0;
}

h4 {
	margin: 10px 0 0 0;
}
.contain_img:hover .bandeau {
	display: flex;
}

/*************************/
/*******  Footer  ********/
/*************************/

.map { 
	display: flex;
	flex-direction: column;
	position: relative;
}

iframe {
	width: 100%;
	height: 500px;
}

.filtre {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(77, 156, 201, 0.3);
}

.contact {
	width: 300px;
	height: 460px;
	position: absolute;
	background-color: rgb(242, 242, 242);
	opacity: 0.9;
	right: 0;
	margin-right: 100px;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

h3 {
	margin: 2px 15px 0px 15px;
}

.adresse {
	margin: 2px 15px 0px 15px;
	max-width: 150px;
	line-height: 15px;
	display: flex;
	flex-direction: column;
}	

form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 2px 15px 2px 15px;
}

textarea {
	height: 130px;
	border-radius: 5px;
}

input {
	border-radius: 5px;
}

/*************************/
/*****  Responsive  ******/
/*************************/

@media all and (max-width: 480px) {
	body {
		max-width: 480px;
	}

	#header {
		width: 100%;
		flex-direction: column;
	}

	.logo {
		margin-left: 0;
		margin-top: 10px;
	}

	nav ul {
		position: relative;
		margin-left: -20px;

	}

	nav li {
		width: 70px;
	}

	.selected_nav {
		width: 70px;
		top: -5px;
	}

	section#banner {
		width: 100%;
	}

	.selected_banner {
		width: 100px;
	}

	.text_banner {
		max-width: 300px;
		margin: auto;
	}

	section#service {
		width: 100%;
	}

	.marge_tete_section {
		max-width: 300px;
	}
	
	#iMac {
		flex-direction: column;
		max-width: 300px;
	}

	#iMac img {
		margin-right: 0;
		width: 300px;
	}

	#flex_list {
		margin: 10px;
	}

	.list_service {
		width: 220px;
	}

	section#projet {
		width: 100%;
	}

	.liens_projets ul {
		margin-left: -40px;
	}

	.liens_projets li {
		width: 75px;
	}

	.img_projet {
		flex-direction: column;
		align-items: center;
		width: 320px;
		flex-wrap: nowrap;
		justify-content: flex-start;
	}

	.bandeau {
		display: block;
	}

	.cercle_rempli {
		top: 0;
	}

	.map {
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	.contact {
		margin-right: auto;
		right: auto;
		margin-top: auto;
		width: 250px;
		height: 400px;
	}
}

@media all and (min-width: 481px) and (max-width: 1023px) {
	
	nav ul {
		margin-left: -20px;
	}

	nav li {
		width: 70px;
	}

	.selected_nav {
		width: 70px;
	}

	#iMac {
		width: 100%;
		align-items: center;
	}

	#iMac img {
		width: 400px;
	}

	.flex_service {
		flex-direction:column;
		align-items:center;
	}

	.img_projet {
		width: 100%;
	}

	.contain_img {
		width: 45%;
	}

	.bandeau {
		display: block;
	}
}